
# ALLGEMEIN ....................................................

# Dateiformate
*~
*qar
*bak
*qws
*kpt
*done
*rpt
*summary
*smsg
*jdi
*qarlog
*qws
*qdf

# Ordner 
lab2_proj
DTP_2_Synthesizer



# SYNTHESE.........................................................

# SYNTHESE.
**/**/incremental_db/*
**/**/db/*
**/**/output_files/*         

# SIMULATION ......................................................

FPGA/simulation/**/*

# !FPGA/simulation/script/*.do


# Debug files
*.dSYM/
