
# ALLGEMEIN ....................................................

# Dateiformate
*~
*qar
*bak
*qws
*kpt
*done
*rpt
*summary
*smsg
*jdi
*qarlog
*qws
*qdf

*qdb
*qpg
*wlf

# Ordner 
lab2_proj
DTP_2_Synthesizer



# SYNTHESE.........................................................

# SYNTHESE.
**/**/incremental_db/*
**/**/db/*
**/**/output_files/*         

# SIMULATION ......................................................

FPGA/simulation/**/*

# !FPGA/simulation/script/*.do
**/**/work/*

# Debug files
*.dSYM/

Synthesizer_PA/simulation/vsim.wlf
Synthesizer_PA/simulation/work/_info
Synthesizer_PA/simulation/work/_lib.qdb
Synthesizer_PA/simulation/work/_lib1_38.qdb
Synthesizer_PA/simulation/work/_lib1_38.qpg

