[Desktop Entry]
Encoding=UTF-8
Name=Link to MIDI Specification
Type=Link
URL=http://www.blitter.com/~russtopia/MIDI/~jglatt/tech/midispec.htm
Icon=text-html
